main {
  margin-top: 4rem;
  /* padding:1rem; */
  min-height: calc(100vh - 8rem);
  z-index: 1;
}
.loader{
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 999;
  .loader-content{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
