<!-- Grid View -->
<div class="grid-view" *ngIf="view == 'grid'">
  <div class="card text-center">
    <div class="card-header fw-bold fs-5 text-success">Header</div>
    <div
      class="overflow-hidden d-flex justify-content-center align-items-center"
    >
      <img
        src="assets/Images/{{product.category.subcategory}}/{{product.productId}}/1.jpg"
        alt="Product Image"
        class="card-img-top"
        OpenProductDetails
        [productId]="product.productId"
      />
    </div>
    <div class="card-body">
      <h5 class="card-title title">{{product.title}}</h5>
      <h6 class="card-subtitle my-2 text-primary">{{product.quantity}} Products Are Available</h6>
      <p class="card-text description">{{product.description}}</p>
    </div>
    <div class="card-body">
      <h5 class="card-title text-success">
        {{utilityService.applyDiscount(product.price,product.offer.discount) | currency:'EGP'}}
        <span class="text-primary">-{{product.offer.discount}}%</span>
      </h5>
      <h6 class="card-subtitle text-danger text-decoration-line-through">
        {{product.price | currency:'EGY'}}
      </h6>
    </div>
    <div class="card-footer d-grid gap-2">
      <button class="btn btn-outline-success" type="button">Add To Cart</button>
    </div>
  </div>
</div>

<!-- list View -->
<div class="list-view" *ngIf="view == 'list'">
  <div class="card">
    <div class="row">
      <div
        class="col-md-4 overflow-hidden d-flex justify-content center align-items-center"
      >
        <img
        src="assets/Images/{{product.category.subcategory}}/{{product.productId}}/1.jpg"
          alt="Product Image"
          class="img-fluid rounded-start"
          OpenProductDetails
          [productId]="product.productId"
        />
      </div>
      <div class="col d-flex flex-column">
        <div class="card-header text-success text-center">Header</div>
        <div class="card-body">
          <h5 class="card-title title">{{product.title}}</h5>
          <p class="card-text description">{{product.description}}</p>
          <h6 class="card-subtitle mb-3 text-primary">
            {{product.quantity}} Product Are Available
          </h6>
        </div>
        <div class="card-body">
          <h4 class="card-title text-muted">Pricing</h4>
          <h2 class="card-title text-success">
            {{utilityService.applyDiscount(product.price,product.offer.discount) | currency:'EGY'}}
            <span class="text-primary">-{{product.offer.discount}}%</span>
          </h2>
          <h5 class="card-subtitle text-danger text-decoration-line-through">
            {{product.price | currency:'EGY'}}
          </h5>
        </div>
        <div class="card-footer text-muted d-grid gap-2">
          <button type="button" class="btn btn-outline-success">
            Add To Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Cart Item View -->
<div class="cart-item-view" *ngIf="view == 'currentCartItem'">
  <div class="card">
    <div class="row g-0">
      <div
        class="col-4 overflow-hidden d-flex justify-content-center align-items-center"
      >
        <img
          src="assets//Images/{{product.category.subcategory}}/{{product.productId}}/1.jpg"
          alt="Item Image"
          class="img-fluid rounded-start"
          OpenProductDetails
          [productId]="product.productId"
        />
      </div>
      <div class="col-8">
        <div class="card-body">
          <h5 class="card-title title">{{product.title}}</h5>
          <h5 class="card-title text-success">
            {{utilityService.applyDiscount(product.price,product.offer.discount) | currency:'EGY'}}
            <span class="text-primary">11 Product Are Available</span>
          </h5>
          <h6 class="card-subtitle text-danger text-decoration-line-through">
            {{product.price | currency:'EGY'}}
          </h6>
        </div>
        <div class="card-footer text-muted d-grid gap-2">
          <button type="button" class="btn btn-outline-danger">
            Remove From Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Previous Cart Item -->
<div class="cart-item-view" *ngIf="view == 'prevCartItem'">
  <div class="card text-center">
    <div
      class="overflow-hidden d-flex justify-content-center align-items-center"
    >
      <img
        src="assets/Images/{{product.category.subcategory}}/{{product.productId}}/1.jpg"
        alt="Card Image"
        class="card-img-top"
        OpenProductDetails
        [productId]="product.productId"
      />
    </div>
    <div class="card-body">
      <h5 class="card-title title">{{product.title}}</h5>
    </div>
  </div>
</div>
