<div class="my-container mx-auto border border-dark">
<div class="p-4 border my-rounded-corner">
  <h3 class="w-25 border text-center py-2 my-rounded-corner">Current Cart</h3>
  <div class="mt-5">
    <div class="d-grid w-50 mx-auto mb-3">
      <button type="button" class="btn btn-outline-success fs-4" [routerLink]="'/order'">Order</button>
    </div>
    <table class="table table-hover table-bordered my-shadow w-50 mx-auto">
      <tbody>
        <tr>
          <td>Items</td>
          <td class="fs-5 fw-bold">{{totalProductAmount}}</td>
        </tr>
        <tr>
          <td>Total Price</td>
          <td class="fs-5 fw-bold text-danger">{{userPaymentInfo.totalAmount | currency:'EGY'}}</td>
        </tr>
        <tr>
          <td>Shipping Charges</td>
          <td class="fs-5 fw-bold text-danger">{{userPaymentInfo.shippingCharges | currency:'EGY'}}</td>
        </tr>
        <tr>
          <td>Discount</td>
          <td class="fs-5 fw-bold text-success">{{userPaymentInfo.amountReduce | currency:'EGY'}}</td>
        </tr>
        <tr>
          <td>You Have To Pay</td>
          <td class="fs-5 fw-bold text-success">{{userPaymentInfo.amountPaid | currency:'EGY'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="current-cart-items w-75 mx-auto mt-5">
    <h3 class="w-25 border text-center py-2 mb-5 my-rounded-corner">Cart Items:</h3>
    <div class="row mt-4 g-0">
      <div class="fs-3 text-warning text-center" *ngIf="itemsMessage">There Are No Items Yet!</div>
      <div class="col-6 py-3 px-2" *ngFor="let cartItem of cart.cartItems">
        <app-product [view]="'currentCartItem'" [CartProduct]="cartItem.salesProduct"></app-product>
      </div>
    </div>
  </div>
</div>
<!-- Previous User Carts -->
<div class="mt-5 p-4 border my-rounded-corner">
  <h3 class="w-25 border text-center py-2 mb-5 my-rounded-corner">Previous Carts</h3>
  <div class="card mb-5" *ngFor="let userCart of previousUserCarts">
    <div class="card-header d-flex justify-content-between align-items-center">
      <span class="time">Order On: <span class="fs-5">{{userCart.createdDate | date}}</span></span>
      <span class="count">Items:{{userCart.cartItems.length}}</span>
      <span class="price">Price Paid: <span class="fs-5">{{utilityService.PriceToPaid(userCart) | currency:'EGY'}}</span></span>
    </div>
    <div class="card-body px-4 py-2">
      <div class="row g-0">
        <div class="col-2 p-2" *ngFor="let cartItem of userCart.cartItems">
          <app-product [view]="'prevCartItem'" [CartProduct]="cartItem.salesProduct" ></app-product>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
