<form [formGroup]="registerForm" (ngSubmit)="register()">
  <!-- FirstName & LastName -->
  <div class="row mb-3">
    <div class="col">
      <label for="FirstName" class="form-label">First Name</label>
      <input
        type="text"
        class="form-control"
        id="FirstName"
        name="FirstName"
        placeholder="Enter First Name"
        formControlName="firstName"
      />
      <!-- Errors -->
      <div
        class="form-text text-danger"
        *ngIf="FirstName.errors?.['required'] && (FirstName.dirty || FirstName.touched)"
      >
        First Name Is Required.
      </div>
      <div
        class="form-text text-danger"
        *ngIf="FirstName.errors?.['minlength'] && (FirstName.dirty || FirstName.touched)"
      >
        First Name Is Too Short , At Least (2) Characters.
      </div>
      <div
        class="form-text text-danger"
        *ngIf="FirstName.errors?.['pattern'] && (FirstName.dirty || FirstName.touched)"
      >
        First Name Should Start With An Alphabet.
      </div>
    </div>
    <div class="col">
      <label for="LastName" class="form-label">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="LastName"
        name="LastName"
        placeholder="Enter Last Name"
        formControlName="lastName"
      />
      <!-- Errors -->
      <div
        class="form-text text-danger"
        *ngIf="LastName.errors?.['required'] && (LastName.dirty || LastName.touched)"
      >
        Last Name Is Required.
      </div>
      <div
        class="form-text text-danger"
        *ngIf="LastName.errors?.['minlength'] && (LastName.dirty || LastName.touched)"
      >
        Last Name Is Too Short , At Least (2) Characters.
      </div>
      <div
        class="form-text text-danger"
        *ngIf="LastName.errors?.['pattern'] && (LastName.dirty || LastName.touched)"
      >
        Last Name Should Start With An Alphabet.
      </div>
    </div>
  </div>
  <!-- Email -->
  <div class="mb-3">
    <label for="Email" class="form-label">Email</label>
    <!-- Errors -->
    <input
      type="email"
      class="form-control"
      id="Email"
      name="Email"
      placeholder="Enter Email"
      formControlName="email"
    />
    <div
      class="form-text text-danger"
      *ngIf="Email.errors?.['required'] && (Email.dirty || Email.touched)"
    >
      Email Is Required.
    </div>
    <div
      class="form-text text-danger"
      *ngIf="Email.errors?.['email'] && (Email.dirty || Email.touched)"
    >
      Email Is Invalid.
    </div>
  </div>
  <!-- Password & ConfirmPassword -->
  <div class="row">
    <div class="col mb-3">
      <label for="Password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="Password"
        name="Password"
        placeholder="Enter Password"
        formControlName="password"
        maxlength="15"
      />
      <!-- Errors -->
      <div
        class="form-text text-danger"
        *ngIf="Password.errors?.['required'] && (Password.dirty || Password.touched)"
      >
        Password Is Required.
      </div>
      <div
        class="form-text text-danger"
        *ngIf="Password.errors?.['minlength'] && (Password.dirty || Password.touched)"
      >
        Password Should Be At Least (6) Characters.
      </div>
      <div
        class="form-text text-danger"
        *ngIf="Password.errors?.['maxlength'] && (Password.dirty || Password.touched)"
      >
        Password Max Length Is (15) Characters.
      </div>
    </div>
    <div class="col mb-3">
      <label for="ConfirmPassword" class="form-label">Confirm Password</label>
      <input
        type="password"
        class="form-control"
        id="ConfirmPassword"
        name="ConfirmPassword"
        placeholder="Confirm Password"
        formControlName="confirmPassword"
        maxlength="15"
      />
      <div class="form-text text-danger" *ngIf="invalidConfirmPassword">
        Passwords Does Not Match.
      </div>
    </div>
  </div>
  <!-- Create Account Button -->
  <div>
    <button
      type="submit"
      class="d-block mx-auto btn btn-outline-primary"
      [disabled]="registerForm.invalid"
    >
      Create Account
    </button>
  </div>
  <div class="mt-3 text-center">
    <h5 class="text-success">Account Created Successfully</h5>
  </div>
</form>
