.title{
  border-bottom:3px solid #12012b ;
  width: 50%;
  margin: auto;
}
label{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  padding: 10px;
  color: #12012b;
  border-bottom: 2px solid #45006b;
  width: 50%;
  margin: auto;
}

.outer {
  height: 100vh;
  /* background-image: linear-gradient(to top, #12012b 50%, #45006b 90%); */
  background-color: #eee;
  background-repeat: no-repeat;
  margin: 0;
}

.form-panel {
  margin: auto;
}
.panel {
  min-height: 380px;
  box-shadow: 20px 20px 80px rgb(218, 218, 218);
  border: 12px;
  margin-top: 10px;
  border-radius: 15px;
}
.panel-heading {
  text-align: center;
  margin-bottom: 10px;
  color: #642aa6;
  font-weight: bold;
}
.btn {
  margin-top: 20px;
  border-radius: 15px;
}
