<form [formGroup]="loginForm">
<div class="mb-3">
 <label for="email"   class="form-label">Email</label>
 <input type="email" id="email"  placeholder="Input Email" class="form-control" formControlName="email">
 <!-- Errors -->
 <div class="form-text text-danger" *ngIf="Email.errors?.['required'] && (Email.dirty || Email.touched)">Email Is Required</div>
 <div class="form-text text-danger" *ngIf="Email.errors?.['email'] && (Email.dirty || Email.touched)">Email Is Invalid</div>
</div>
<div class="mb-3">
 <label for="password"   class="form-label">Password</label>
 <input type="password" id="password"  placeholder="Input Password" class="form-control" formControlName="password">
 <!-- Errors -->
 <div class="form-text text-danger" *ngIf="Password.errors?.['required'] && (Password.dirty || Password.touched)">Password Is Required</div>
</div>
<div>
  <button type="submit" [disabled]="loginForm.invalid" class="d-block mx-auto btn btn-outline-primary">Login</button>
</div>
</form>
