<form [formGroup]="loginForm" (ngSubmit)="login()">
<div class="mb-3">
 <label for="email"   class="form-label">Email</label>
 <input type="email" id="email"  placeholder="Input Email" class="form-control" formControlName="email">
 <!-- Errors -->
 <div class="form-text text-danger" *ngIf="Email.errors?.['required'] && (Email.dirty || Email.touched)">Email Is Required</div>
 <div class="form-text text-danger" *ngIf="Email.errors?.['email'] && (Email.dirty || Email.touched)">Email Is Invalid</div>
</div>
<div class="mb-3">
      <label for="password"   class="form-label">Password</label>
      <div class="row">
        <div class="col-11">
      <input [type]="passwordType" id="password"  placeholder="Input Password" class="form-control" formControlName="password">
    </div>
      <div class="col-1">
        <fa-icon [icon]="eyeIcon" (click)="togglePassword()" class="mt-4" [style.color]="'blue'"></fa-icon>
      </div>

    </div>
  <!-- Errors -->
      <div class="form-text text-danger" *ngIf="Password.errors?.['required'] && (Password.dirty || Password.touched)">Password Is Required</div>

</div>
<div>
  <button type="submit" [disabled]="loginForm.invalid" class="d-block mx-auto btn btn-outline-primary">Login</button>
</div>
<div class="mb-3 text-center" [ngClass]="errorMessage ?'text-danger':'text-primary'">
 {{loginMessage}}
</div>
</form>
