*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.side-nav{
  max-width: 350px;
  z-index: 2;
}
.main{
  z-index: 1;
}
/* .container {
 display: flex;
}
.side-nav{
  width: 350px;
  min-width: 230px;
  height: 100vh;
  background-color: #113c60;
  color: #fff;
  box-shadow: 5px 0 5px #939393;
  @media only screen and (max-width:1300px) {
    width: 100px;
    min-width: 100px;
  }
}
.main{
  padding: 30px;
} */
