<div class="outer">
  <div class="container">
    <div class="row">
      <div class="w-50 form-panel">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <h3 class="pt-3 font-weight-bold">Change Password</h3>
          </div>
          <div class="panel-body p-3">
            <form [formGroup]="changePasswordForm">
              <div class="form-group">
                <div class="input-field p-2">
                  <input
                    [type]="passwordType"
                    placeholder="Old Password"
                    formControlName="oldPassword"
                  />
                  <fa-icon
                  [icon]="eyeIcon"
                  class="eyeIcon"
                  (click)="togglePassword()"
                ></fa-icon>
                </div>
                <div
                  class="form-text text-danger"
                  *ngIf="OldPassword.errors?.['required'] && (OldPassword.touched || OldPassword.dirty)"
                >
                  *This Field Is Required
                </div>
              </div>
              <div class="form-group">
                <div class="input-field">
                  <input
                    [type]="passwordType"
                    placeholder="New Password"
                    formControlName="newPassword"
                  />
                </div>
                <div
                  class="form-text text-danger"
                  *ngIf="NewPassword.errors?.['required']&&(NewPassword.dirty || NewPassword.touched)"
                >
                  *NewPassword Is Required
                </div>

                <div
                  class="form-text text-danger"
                  *ngIf="NewPassword.errors?.['pattern'] && (NewPassword.dirty || NewPassword.touched)"
                >
                  *Password Should Be Alphanumeric And Have A Special Character
                </div>
                <div
                  class="form-text text-danger"
                  *ngIf="NewPassword.errors?.['minlength'] && (NewPassword.dirty || NewPassword.touched)"
                >
                  *Password Should Be At least (6) Character
                </div>
                <div
                  class="form-text text-danger"
                  *ngIf="NewPassword.errors?.['minlength'] && (NewPassword.dirty || NewPassword.touched)"
                >
                  *Password Should Be At Least (6) Characters.
                </div>
                <div class="input-field">
                  <input
                    [type]="passwordType"
                    placeholder="Confirm Password"
                    formControlName="confirmPassword"
                  />
                </div>
                <div
                  class="form-text text-danger"
                  *ngIf="ConfirmPassword.errors?.['required'] && (ConfirmPassword.dirty || ConfirmPassword.touched)"
                >
                  *Confirm Password Is Required
                </div>
                <div
                  class="form-text text-danger"
                  *ngIf="ConfirmPassword.errors?.['confirmPassword'] && (ConfirmPassword.dirty ||ConfirmPassword.touched)"
                >
                  *Passwords Does Not Match.
                </div>
                <div class="d-flex justify-content-center align-items-center">
                  <h3 class="fw-bold {{formMessageClass}}">{{formMessage}}</h3>
                </div>
                <button
                  [disabled]="changePasswordForm.invalid"
                  class="btn btn-primary btn-block mt-4 w-100"
                  type="ٌsubmit"
                  (click)="ChangePassword()"
                >
                  Reset
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
