<header
  class="header w-100 h-100 px-4 d-flex justify-content-between align-items-center"
>
  <div class="fs-2 text-light fw-bold fst-italic">
    <span (click)="Home()" [style.cursor]="'pointer'">Raslan</span>
  </div>
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group btn-group-ls me-3" role="group">
      <div class="btn-group mx-3">
        <button *ngIf="this.authService.IsLoggedIn() && this.authService.GetUser().role.includes('Admin')" type="button" class="btn btn-outline-primary" routerLink="/dashboard">Dashboard</button>
      </div>
      <button type="button" class="btn btn-outline-light" routerLink="/home">
        Home
      </button>
      <div class="btn-group" role="group">
        <button
          type="button"
          class="btn btn-outline-light dropdown-toggle"
          data-bs-toggle="dropdown"
        >
          Category
        </button>
        <ul class="dropdown-menu fs-5">
          <ng-container *ngFor="let item of navigationList; let i = index">
            <li class="text-center fw-bold">
              {{ item.category | titlecase }}
            </li>
            <li
              *ngFor="let subcategory of item.subCategory"
              [style.cursor]="'pointer'"
            >
              <a
                class="dropdown-item"
                OpenProducts
                [category]="{
                  categoryId: 0,
                  'category': item.category,
                  'subcategory': subcategory
                }"
              >
                {{ subcategory | titlecase }}
              </a>
            </li>
            <li *ngIf="i != navigationList.length - 1">
              <hr class="dropdown-divider" />
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
    <div class="btn-group btn-group-lg me-2" role="group">
      <button
        type="button"
        class="btn btn-outline-light"
        data-bs-toggle="modal"
        data-bs-target="#generalModal"
        (click)="OpenModal('login')"
        *ngIf="!this.authService.IsLoggedIn()"
      >
        Login
      </button>
      <button
        type="button"
        class="btn btn-outline-light"
        data-bs-toggle="modal"
        data-bs-target="#generalModal"
        (click)="OpenModal('register')"
        *ngIf="!this.authService.IsLoggedIn()"
      >
        Register
      </button>
      <button type="button" class="btn btn-outline-light" *ngIf="this.authService.IsLoggedIn()" routerLink="/account">Account</button>
      <button type="button" class="btn btn-outline-light" routerLink="/cart" *ngIf="this.authService.IsLoggedIn()" >
        Cart <span class="badge bg-warning text-dark">{{cartItems}}</span>
      </button>
      <button type="button" class="btn btn-outline-light" routerLink="/order" *ngIf="this.authService.IsLoggedIn()" >
        Orders</button
      >
      <button type="button" class="btn btn-outline-light" (click)="LogOut()" *ngIf="this.authService.IsLoggedIn()">LogOut</button>
    </div>
  </div>
</header>

<!-- Modal -->
<div
  class="modal fade"
  id="generalModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" #modalTitle></h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="close"
        ></button>
      </div>
      <div class="modal-body">
        <ng-container #container></ng-container>
      </div>
    </div>
  </div>
</div>
